<button (click)="ejemFatArrow()">Fat Arrow</button>
<br><br>
<button (click)="ejemDestructuring()">Destructuring</button>
<br><br>
<button (click)="ejemArrayDestructuring()">Array Destructuring</button>
<br><br>
<button (click)="ejemFunctionDestructuring()">Function Destructuring</button>
<br><br>
<button (click)="ejemForEach()">For Each</button>
<button (click)="ejemForIn()">For In</button>
<button (click)="ejemForOf()">For Of</button>
<br><br>
<button (click)="ejemPromise()">Promise</button>
<hr>
<h4>{{ title }}</h4>
{{ service.value }}